@charset "UTF-8";

.galeria {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.imagens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.imagem {
    max-width: 30%;
    padding: 10px;
}

.botão_ativo {
    background-color: red;
    color: white;
    border: 2px solid black;
}
