@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*Explicação: https://developer.mozilla.org/pt-BR/docs/Web/CSS/box-sizing*/
    
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth; /*Controla o comportamento da rolagem.*/
}

header {
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    background-color: white;
}

header > nav > ul {
    list-style-type: none;
    text-align: center;
}

header > nav > ul > li {
    display: inline;
}

header > nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 2px 10px;
    display: inline-block;
    z-index: 9999;
}

header > nav > ul > li > a:hover {
    color: #b6dbf1;
}

section {
    width: 100%;
    height: 500px;
}

/*Aplicando as seguintes configurações às sessões ímpares:*/

section:nth-child(odd) {
    background-color: #3c4f60;
}

section, footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.banner {
    display: flex;
}

.banner > img { /*O sinal de "maior que" (>) pode ser omitido.*/
    width: 100%;
}

.borda_0 {
    border: none;
}

.borda_1 {
    border: 1px solid black;
}

.borda_2 {
    border: 1px solid red;
}

.flexível {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    width: 100%;
    text-align: center;
}

/*Animações:*/

[data-animação] {
    opacity: 0; /*Torna os elementos opacos.*/
    transition: .5s;
}

[data-animação="esquerda"] {
    transform: translate3d(-50px, 0, 0); /*Ordem dos eixos de "translation": X; Y; Z.*/
}

[data-animação="direita"] {
    transform: translate3d(50px, 0, 0);
}

[data-animação="centro"] {
    transform: translate3d(0, 50px, 0);
}

[data-animação].animação {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/*Parallax:*/

.parallax {
    background-attachment: fixed;
    background-size: cover; /*Cobre todo o seu container.*/
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.01);
}

.p1 {
    background-image: url('Mídia/parallax1.png');
}

.p2 {
    background-image: url('Mídia/parallax2.png');
}

/*Área com o ID "cursos":*/

.container_cursos {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.mini {
    width: 49%;
    padding: 5px;
    cursor: pointer;
}

/*Janela Modal:*/

.janela_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
}

.mostrar_janela_modal {
    display: block;
}

.ocultar_janela_modal {
    display: none;
}

.fechar_modal {
    position: absolute;
    /*Explicação: https://www.w3schools.com/css/css_positioning.asp#:~:text=An%20element%20with%20position%3A%20absolute,moves%20along%20with%20page%20scrolling.*/

    top: 15px;
    right: 35px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.imagem_modal {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}

.texto_modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0px;
    height: 150px;
}
