@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Passion+One:wght@400;700;900&family=Shizuru&family=Sriracha&display=swap');

:root {
    --fonte_personalizada_1: 'Shizuru', cursive;
    --fonte_personalizada_2: 'Bebas Neue', cursive;
}

h1 {
    color:rgb(14, 14, 173);
    font-family: var(--fonte_personalizada_1);
}

h2 {
    color: rgb(199, 18, 18);
    font-family: var(--fonte_personalizada_2);
}

#contact {
    color: rgb(14, 14, 173);
    font-family: 'Times New Roman', Times, serif;
}

/*Nota: todo esse conteúdo (acima) pode ser feito em CSS incorporado [CSS na mesma página do documento HTML].*/
